<section data-ng-controller="HomeController">
    <div id="masthead">  
  <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1>{{guild[0].name}}
            <p class="lead">Alliance - <span class="server">{{guild[0].realm}}</span> - <span class="num_members">{{ guild[0].membersNum }} Members</span></p>
          </h1>
        </div>
        <div class="col-md-5">
            <div class="well well-lg"> 
              <div class="row">
                <div class="col-sm-6">
        	      	 <img src="{{ characters[0].thumbnail }}">
                </div>
                <div class="col-sm-6">
	              	<ul>
                    <li>{{ characters[0].name }} </li>
                    <li>{{ characters[0].race }}</li>
                    <li>Level {{ characters[0].level}}</li>
                    <li>Switch Character</li> 
                  </ul>
                </div>
              </div>
            </div>
        </div>
      </div> 
  </div><!--/container-->
</div><!--/masthead-->

<div class="container">
	<div class="row">
      <!--left-->
      <div class="col-md-3" id="leftCol">
        <ul class="nav nav-stacked" id="sidebar">
          <li>
              <span>Player Menu</span>
              <p style="font-size: 8pt; color: #aaa;"><em>player logged in</em></p>
          </li>
          <li><a href="#sec1">Who's Recruiting?</a></li>
          <li><a href="#sec2">Items</a></li>
          <li><a href="#sec3">Other Options</a></li>
          <li>
              <span>Guild Menu</span>
              <p style="font-size: 8pt; color: #aaa;"><em>player's current guild options</em></p>
          </li>
          <li><a href="#sec2">Recruit</a></li>
          <li><a href="#sec2">Manage Recruitment</a></li>
          <li><a href="#sec2">Raid Progression</a></li>
          <li><a href="#sec3">Challenge Times</a></li>
          <li><a href="#sec4">Completed Achievments</a></li>
        </ul>
      </div><!--/left-->
      
      <!--right-->
      <div class="col-md-6">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Message</label>
                    <div class="controls">
                        <input type="textarea" data-ng-model="message" id="message" class="form-control" placeholder="Message" required>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
        
                <div style="padding: 20px 0;" class="feed">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean porta condimentum est. Sed at bibendum massa, eu hendrerit dui.</p>
          <ul>
            <li><a href="#">Like</a></li>
            <li><a href="#">Comment</a></li>
          </ul>
        </div>


        </div><!--/right-->
        
        <!--left-->
      <div class="col-md-3" id="rightCol">

         
          <form action="">
              <label>Search: <input ng-model="searchText.character.name"></label>
          </form>
          

        
          <div data-ng-repeat="member in guild[0].members | filter:searchText" class="list-group-item" >
            <p>Name: {{ member.character.name }}</p>
              <p>Level: {{ member.character.level }}</p>
          </div>



          </div>
      </div><!--/left-->
  	</div><!--/row-->
</div><!--/container-->    

</section>