body{
    background-image:url("http://i.imgur.com/DIo2984.png");
}

/*body{
    background-image:url("http://i.imgur.com/DIo2984.png");
}*/
.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}



/*for the character views page*/
#main_container_characters{
    width: 650px;
    height: 750px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: black;
    padding: 20px;
    border-radius: 25px;
}

#container_toons{
    width: 624px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}
#item_break{
    width: 100px;
    height: 312px;
    float: left;
}
#item{
    width: 100px;
    height: 100px;
    float: left;
}
#stat1{
    width: 300px;
    float: left;
}
#stat2{
    width: 300px;
    float: left;
}
#atts{
    width: 300px;
    height: 25px;
    float: left;
}
#toon_break{
    width: 624px;
    height: 5px;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: gold;
    border-radius: 25px;

}

#notification{
    padding-top: 10px;
}

.drop{
    margin-left: 10px;
}

/*-- brand --*/

.header_logo { width: 100px; height: 22px; }

/*-- post --*/

.post { padding: 10px 0; }

/*-- feed --*/

.feed { padding: 20px 0; }
.feed_res { list-style: none; float: right; }
.feed_res li { display: block; float: left; padding: 0 10px; }

/*-- roster search --*/

.roster_search { margin: 10px 0; padding: 5px; border-radius: 5px;}

/*-- roster --*/

.list-group-item { margin: 10px 0; padding: 10px !important; }

/*-- roster list --*/

.roster_list { list-style: none; padding-top: 5px; }
.roster_list li { font-size: 12px; }
.roster_thumb { width: 50px; height: 50px; float: left; margin: 5px 20px 0 5px; }

/*-- flts --*/

.flt-rt { float: right; }
.flt-lt { float: left; }

/*-- clear --*/

.clear { clear: both; } 

.guild, .lead, .server, .num_members, .menu_lead { color: cornsilk; }