body{
    background-image:url("http://i.imgur.com/DIo2984.png");
}

/*body{
    background-image:url("http://i.imgur.com/DIo2984.png");
}*/
.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}



/*for the character views page*/
#main_container_characters{
    width: 650px;
    height: 750px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: black;
    padding: 20px;
    border-radius: 25px;
}

#container_toons{
    width: 624px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}
#item_break{
    width: 100px;
    height: 312px;
    float: left;
}
#item{
    width: 100px;
    height: 100px;
    float: left;
}
#stat1{
    width: 300px;
    float: left;
}
#stat2{
    width: 300px;
    float: left;
}
#atts{
    width: 300px;
    height: 25px;
    float: left;
}
#toon_break{
    width: 624px;
    height: 5px;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: gold;
    border-radius: 25px;

}

#notification{
    padding-top: 10px;
}

.drop{
    margin-left: 10px;
}