.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

/*--- post ---*/

.post_header { padding: 10px 0 20px 0; }
.post_body { padding: 20px 0; }
.post_reply { list-style: none; float: right; }
.post_reply li { display: block; float: left; padding: 0 10px; }